.sort-button {
    padding: 10px 20px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: transparent;
    border-radius: 4px;
    margin:5px 0  0 5px;
}

.sort-button:hover {
    background-color: #007bff;
    color: white;
}