<div class="alert alert-success">Registration Form</div>
<!--
<button type="button" class="btn btn-primary">Login</button> 
-->
<form #registrationForm="ngForm" (ngSubmit)="getFormData(registrationForm)" class="container col-md-4">
   <div> 
    <label for="username">Enter Username</label>
    <input type="text" name="username" required class="form-control" ngModel #username="ngModel"/>
    <span style="color:red" *ngIf="username.touched && username.invalid"> Username is mandatory</span>
   </div>
   <div> 
    <label for="email">Enter Email</label>
    <input type="email" name="email" required class="form-control" ngModel #email="ngModel"/>
    <span style="color:red" *ngIf="email.touched && email.invalid"> Email is mandatory</span>
   </div>
   <div> 
    <label for="password">Enter Password</label>
    <input type="password" name="password" required class="form-control" ngModel #password="ngModel"/>
    <span style="color:red" *ngIf="password.touched && password.invalid"> Password is mandatory</span>
   </div>
   <div> 
    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" required class="form-control" ngModel #dob="ngModel"/>
    <span style="color:red" *ngIf="dob.touched && dob.invalid"> Date of Birth is mandatory</span>
   </div>
   <div> 
    <label for="phone">Phone Number</label>
    <input type="tel" name="phone" required class="form-control" ngModel #phone="ngModel"/>
    <span style="color:red" *ngIf="phone.touched && phone.invalid"> Phone Number is mandatory</span>
   </div>
    <button type="submit" class="btn btn-success" [disabled]="registrationForm.invalid">Register</button>
</form>
